h1{
    padding: 1;
    font-weight: bold;
}

.box{
    padding: 2em;
}

.box1{
    padding: 1em;
    border-radius: 20px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}